html {
    height: 100vh;
}

body {
    margin: 0;
    padding: 0;
}

canvas {
    display: block;
    /* vertical-align: bottom; */
  }

/* ---- tsparticles container ---- */
#tsparticles {
    position: absolute;
    /* position: fixed; */
    width: 100%;
    height: 100%;
    background-color: #0d47a1;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* background-position: 50% 50%; */
    z-index: -1;
  }

  .github {
    bottom: 10px;
    right: 10px;
    position: fixed;
    border-radius: 10px;
    background: #fff;
    padding: 0 12px 6px 12px;
    border: 1px solid #000;
  }
  
  .github a:hover,
  .github a:link,
  .github a:visited,
  .github a:active {
    color: #000;
    text-decoration: none;
  }
  
  .github img {
    height: 30px;
  }
  
  .github #gh-project {
    font-size: 20px;
    padding-left: 5px;
    font-weight: bold;
    vertical-align: bottom;
  }

  .bg-img {
    background-repeat: no-repeat;
    position: fixed;
    background-size: cover;
    z-index: -1;
}

#bgCanvas {
    background-repeat: no-repeat;
    offset-position: center;
    position: fixed;
    background-size: cover;
    z-index: -1;
}

/* span#intro {
    margin-top: 40%;
    color: white;
} */

.flex {
    display: flex;
    justify-content: center;
    /* margin-top: 50%; */
}

.introParagraph {
    display: inline-block;
}

p {
    /* margin-top: 0; */
    font-family: Roboto, sans-serif;
    margin-top: 60%;
    margin-bottom: 1rem;
    text-align: center;
    padding: 2px;
}

form {
display: flex;
justify-content: center;
}

span#intro {
font-family: Roboto, sans-serif;
display: inline-block;
position: absolute;
animation: appear 2s;
animation-fill-mode: forwards;
margin-top: 35%;
}

/* span#intro styles */
@keyframes appear {
    from {
        left: -100px;
      
    }
    to {
        left: 130px;
        /* left: 30.5%; */

    }
}

@-moz-keyframes appear {
    from {
        left: -100px;
    }
    to {
        left: 130px;
    }
}

@-webkit-keyframes appear {
    from {
        left: -100px;
    }
    to {
        left: 130px;
    }

}

@-o-keyframes appear {
    from {
        left: -100px;
    }
    to {
        left: 130px;
    }
}

.name {
    font-family: Roboto, sans-serif;
    text-align: center;
    display: inline-block;
    position: absolute;
    margin-top: 48%;
    margin-left: 38%;
}

span#intro,
.name,
p {
    color: #ffffff;
}

button {
    margin-top: 10%;
    /* background-color: initial; */
    /* background-color: white; */
    border: 2px solid black;
    animation: button 2s;
    /* padding: 10px; */
    border-radius: 5%;
    background-color: lightsteelblue;
}

#divButton {
    border-radius: 10px;
}

@keyframes button {
    0% {
        transform:translateY(-100%);
        opacity: 0;
    }

    15% {
        transform:translateY(-100%);
        opacity: 0;
    }
}

/* MEDIA QUERY 720PX */

@media (min-width: 720px) {
    span#intro {
        color: white;
        font-size: 30px;
        margin: 0;
        margin-top: 20%;
        margin-left: 25%;
    }

    .name {
        /* font-family: Roboto, sans-serif;
        text-align: center;
        display: inline-block;
        position: absolute; */
        margin-top: 32%;
        margin-left: 40%;
        font-size: 30px;
    }

    p.introParagraph {
        font-size: 30px;
        margin-top: 40%;
    }

    form {
        font-size: 30px;
    }
}

/* MEDIA QUERY 1024px */
@media (min-width: 1024px) {
    span#intro {
        color: white;
        font-size: 30px;
        margin: 0;
        /* margin-top: 20%;
        margin-left: 25%; */
        margin: 15% 31.5%;
    }

    .name {
        /* margin-top: 35%; */
        margin: 25% 43%
    }

    p.introParagraph {
        margin-top: 34%;
    }

    button {
        margin-top: 5%;
    }
}
